/*
 Theme Name:   Amat-immo-child
 Author:       Somos Sinapsis
 Author URI:   https://sinapsis.agency
 Template:     amat-immo
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 
*/

/*==============================variables colores==============================*/
:root {
  --amat-red:#DA291C;
  --amat-black:#000000;
  --amat-white:#FFFFFF;
  --amat-light-gray:#ECEBE9;
  --amat-medium-gray:#ABA39B;
  --amat-dark-gray:#645C54
}
/*==============================TIPOGRAFIAS=====================================*/
h1{
	font-size: 60px !important;
	font-family: 'Work Sans', serif;
	font-weight: 200 !important;
}
h2{
	font-size: 50px;
	font-family: 'Work Sans', serif;
	font-weight: 800 !important;
}
h3{
	font-size: 48px;
	font-family: 'Work Sans', serif;
	font-weight: 800 !important;
}
h4{
	font-size: 30px;
	font-family: 'Work Sans', serif;
	font-weight: 800 !important;
}
h5{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300 !important;
}
p{
	font-size: 15px;
	font-family: 'Work Sans', sans-serif;
	font-weight: normal !important;
	margin-bottom: 0.3rem !important;
}
a{
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	color: var(--amat-black);
}
ul, li{
    font-family: 'Work Sans', sans-serif;
}
/*==================================GENERAL====================================*/
#main {
    padding: 0px;
}
.single #main {
  margin-top: -1rem;
}
.site-content .container{
	max-width: 1200px !important;
}
#footer .container {
  max-width: 97% !important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100% !important;
}
/*banner*/
.banner img {
    width: 100%;
    object-fit: contain;
}
/*=================================HEADER==========================================*/




/*=================================BREADCRUMBS=====================================*/
.breadcrumbs {
    position: absolute;
    margin-left: 2rem;
    margin-top: 0.5rem;
    color: var(--amat-white);
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}
.breadcrumbs a, .breadcrumbs a:hover{
    color: var(--amat-white);
    font-weight: normal;
    text-decoration: none !important;
    font-family: 'Work Sans', sans-serif !important;
    font-size: 12px;
}
.page-template-videos .breadcrumbs a, .blog .breadcrumbs a{
  color: var(--amat-black) !important;
}
.page-template-videos .breadcrumbs a:hover, .blog .breadcrumbs a:hover{
  color: var(--amat-black) !important;
}
.page-template-videos .breadcrumbs, .blog .breadcrumbs{
  color: var(--amat-black) !important;
}
/*===============================SLICK SLIDER STYLE==============================*/
/*dots*/
.slick-dots {
    display: flex !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 0px;
    margin-top: 1rem;
}
.slick-dots li{
	list-style: none !important;
	font-size: 2px !important;
}
.slick-dots li button {
    /*background: var(--amat-white);
    border: 1px solid var(--amat-black);*/
    background: var(--amat-black);
	border: none;
    border-radius: 30px;
    color: transparent;
    height: 9px;
    width: 0px;
    margin: 3px;
}
.slick-dots .slick-active button {
    background: var(--amat-white) !important;
    border:1px solid black;
}
/*arrows*/
.slick-next {
    right: -30px;
}
.slick-prev {
    left: -30px;
    z-index: 2000;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    
}
.slick-prev::before, .slick-next::before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: var(--amat-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next::before {
    content: '›';
}
.slick-prev::before {
	content: '‹';
}
.slick-next.slick-arrow, .slick-prev.slick-arrow {
    background: white;
    border-radius: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 30px;
    height: 30px;
}
/*================================buttons style================================*/
button, .button{
	font-family: 'Work Sans', sans-serif !important;
	font-size: 18px;
	text-transform: capitalize;
}
.button.red {
    background:var(--amat-red);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    padding: 9px 67px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration:none !important;
    border-color: transparent;
    margin: 12px;
}
.button.black{
	background: #000000;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 50px;
	color:var(--amat-white);
	padding: 6px 46px;
	text-decoration: none !important;
}
.button.white {
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 50px;
	color: var(--amat-black);
	padding: 6px 46px;
	text-decoration: none !important;
}
/*=================================FORMULARIOS=================================*/
.form .small, .form small {
  font-size: .600rem;
}
.wpcf7-form-control.wpcf7-text {
    background: #ECEBE9;
    border-radius: 20px;
    border-color: transparent;
    padding: 5px 16px;
    margin: 0.4rem;
	width: 100%;
    font-size: 12px;
}
.wpcf7-form-control.wpcf7-textarea {
    background: #ECEBE9;
    border-radius: 20px;
    border-color: transparent;
    padding: 5px 16px;
    margin: 0.4rem;
	width: 100%;
	max-height: 175px;
    font-size: 12px;
}
textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder,
textarea:-ms-input-placeholder, textarea::placeholder {
  color: var(--amat-black);
}
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder,
input:-ms-input-placeholder, input::placeholder {
  color: var(--amat-black);
}
/*=================================FOOTER==========================================*/
#footer {
    background-color: var(--amat-light-gray) !important;
}
#footer .footer1 .logo{
   width: 150px;
}
#footer .col-md-2.footer1, #footer .col-md-2.footer2, #footer .col-md-2.footer3,
#footer .col-md-3.footer4, #footer .col-md-3.footer5 {
    padding-top: 2em;
}
#footer p, #footer a{
	color:var(--amat-black);
}
#footer  .col-md-2.footer1 {
  text-align: center;
}
#footer a{
	text-decoration:none !important;
	font-weight: normal;
	font-size: 12px;
}
#footer .row.black-footer {
    border-top: 1px solid var(--amat-white);
    padding-top: 1em;
    padding-bottom: 1rem;
    color: var(--amat-medium-gray);
}
#footer .row.black-footer a, #footer .row.black-footer p {
	color: var(--amat-medium-gray);
}
#footer .rrss {
    text-align: center;
}
#footer .rrss a {
    text-align: center;
    margin-right: 15px;
}
#footer .footer-title{
	font-size: 16px;
}
#footer .footer5 .first-line {
    margin-bottom: 1em;
    text-align: center;
}
/*bloques footer mobile*/
#footer .col-md-3.footer5.mobile {
    display: none;
}
#footer .black-footer .col-md-3.desk {
    display: block;
}
#footer .black-footer .col-md-3.mobile {
    display: none;
}
#footer .black-footer .col-md-3.reserved p {
    font-size: 12px;
    margin-top: 9px;
    font-weight: normal;
}
#footer .footer .footer3 p, #footer .footer .footer4 p, #footer .footer .footer5 p {
	font-size: 14px;
}
#footer .footer-title, #footer .footer-title a{
	font-size: 16px !important;
	font-weight: bold;
}
#footer p {
    margin-top: 5px;
}
#footer .footer {
    margin-bottom: 3rem;
}
#footer .menu.nav.justify-content-end {
    /*float: left;*/
    display: block ruby;
}
#footer .links-legales ul li .nav-link {
  padding: .5rem 0rem;
}
#footer .links-legales ul li .nav-link:after{
  position: relative;
  top: 0rem;
  content: '';
  margin-left: 5px;
}
#footer .links-legales ul li .nav-link:first-child{
    border-left: 1px solid transparent ;
}
#footer .menu-item a[aria-current="page"] {
    color: var(--amat-medium-gray) !important;
}
#footer .footer-text {
    font-size: 13px !important;
}
/*==========================PRE FOOTER=================================================*/
.pre-footer {
  margin-top: 3rem;
  padding: 5vh 6vh;
  margin-bottom: 1rem;
  
}
.pre-footer{
 background-image: url('/w/wp-content/uploads/2022/03/amat-contador-bg-scaled.jpg');
 background-size: auto;
 border-radius: 40px;
 margin-bottom: 1rem;

}
.pre-footer .contador p{
    font-size: 16px;
    margin-top: -10px;
    color: var(--amat-white);
}
.pre-footer .contador{
  text-align: center;
}
.pre-footer .num {
  color: var(--amat-white);
	font-size: 56px;
  font-weight: 300 !important;
}
.pre-footer .num::after {
  content: '+';
  font-size: 12px;
}
.pre-footer p.mas {
    color: var(--amat-white);
    font-size: 32px;
    margin-left: -0.8em;
}

/*=========================================QUIENES SOMOS===========================================*/
.publicaciones #slider .slick-slide img{
    width: 95%;
}

.quienes-somos .cabecera .imagen {
    height: 46vh;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.quienes-somos .cabecera .col-md-6 {
	height: 53vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quienes-somos #nav-nosotros h2 {
font-size: 45px;
}
.accordion-button {
    background-color: transparent !important;
}
.quienes-somos .nav-link{
	color: var(--amat-dark-gray);
	border-bottom: 1px solid #dee2e6;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 2rem;
    border-color: transparent !important;
	padding-bottom: 2rem;
}
.quienes-somos .nav-link:hover, .quienes-somos .nav-link:focus{
	color: var(--amat-dark-gray);
}
.quienes-somos .nav-link.active{
    color: var(--amat-red) !important;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 3px solid var(--amat-red) !important;
	padding-bottom: 2rem;
}
.nav-link:focus, .nav-link:hover {
  color: var(--amat-black);
}
.nav-tabs .nav-link {
    background-color: transparent;
    border-color: transparent;
    color: var(--amat-dark-gray);
}
.content-tab {
    margin-top: 3rem;
}
.quienes-somos #nav-filosofia, .quienes-somos #nav-nosotros {
    margin-top: 3rem;
}
.quienes-somos #nav-filosofia h3 {
    font-size: 32px;
}
#nav-filosofia h5 {
  font-weight: bold !important;
}
/*premios*/
.quienes-somos #galeria-slider .slick-list .item {
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid var(--amat-black);
    margin:auto;
    height: auto;
    object-fit: cover;
}
.quienes-somos #galeria-slider .items {
  margin-top: 2rem;
  max-height: 600px;
  object-fit: cover;
}
.quienes-somos .awards .titulo {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
}
.quienes-somos .galeria-1 h3 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.quienes-somos .galeria-1  h5 {
  font-family: Work Sans;
  font-style: normal;
  font-size: 15px;
  text-align: center;
}
.quienes-somos #galeria-slider {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.quienes-somos .awards {
  padding: 3rem;
}
.quienes-somos .row.publicaciones {
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.quienes-somos .publicaciones .titulo p {
    font-size: 32px;
    text-align: center;
    font-weight: 800 !important;
}
.quienes-somos .subtitulo p {
    text-align: center;
    font-size: 16px;
}
.quienes-somos #slider {
    margin-top: 3rem;
}
.quienes-somos .cabecera .titulo-principal {
  margin-top: 2em;
}
/*--------bloque testimonios y trabajo------------*/
.seccion-trabajo-testimonios {
    background: #ECEBE9;
    padding: 5vh 7vh;
	margin-bottom: 5rem;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
    margin-top: 5rem;
}
.accordion-button:not(.collapsed) {
   color: var(--amat-black) !important;
}
.accordion-button:focus {
    box-shadow: 0 0 0 0rem rgba(13,110,253,.25) !important;
}
.seccion-trabajo-testimonios .trabajo .titulo-seccion {
    font-size: 38px;
}
.seccion-trabajo-testimonios .col-md-6.trabajo p {
    font-size: 14px;
}
.seccion-trabajo-testimonios .accordion-item {
    background-color: transparent !important;
}
.seccion-trabajo-testimonios .trabajo .send-cv{
	margin-top: 2rem;
	text-align: center;
}
.seccion-trabajo-testimonios .trabajo .send-cv a{
	color: var(--amat-black);
}
.seccion-trabajo-testimonios .trabajo button.collapsed {
    border-bottom: 1px solid var(--amat-black);
    border-radius: 0px !important;
}
.seccion-trabajo-testimonios .trabajo button {
    border-bottom: 2px solid var(--amat-black);
    border-radius: 0px !important;
}
.trabajo .accordion-button:focus {
    box-shadow: none !important;
}
.trabajo .accordion-button:focus {
    border-color: var(--amat-black);
}
.trabajo .accordion-button:focus {
    border-color: var(--amat-black);
}
.trabajo .accordion-button:not(.collapsed)::after {
    background-image: url("/w/wp-content/uploads/2021/12/chevron.png") !important;
}
.trabajo .accordion-button::after {
	background-image: url("/w/wp-content/uploads/2021/12/chevron.png") !important;
	width: 10px;
	height: 10px;
	background-size: 10px;
}
.testimonios .slick-prev::before, .testimonios .slick-next::before {
    font-family: 'slick';
    font-size: 21px;
    line-height: 1;
    opacity: .5;
    color: var(--amat-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}
.testimonios .slick-next.slick-arrow, .testimonios .slick-prev.slick-arrow {
    background: var(--amat-medium-gray);
}
.testimonios .slick-dots {
    display: none !important;
}
.testimonios #slider-testimonios {
    width: 100%;
    text-align: center;
}
.testimonios .slick-slide img {
    display: block;
    margin: auto;
}
.testimonios .titulo-seccion {
    text-align: center;
    font-size: 38px;
}
.testimonios .slick-prev{
    left: 2rem;
}
.testimonios .slick-next{
	right: 2rem;
}
.testimonios  .testimonio-img {
    margin-top: 3rem;
}
.testimonios .testimonio-img img{
    margin-top: 3rem;
    border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	max-width: 20vh;
	object-fit: cover;
}
.testimonios .testimonio-nombre {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 1rem;
}
.testimonios .job-post {
    color: var(--amat-medium-gray);
    font-size: 14px;
}
.testimonios .testimonio-description p {
    font-size: 16px;
    margin-top: 1rem;
}

/**/
/*==============================TRABAJAR EN AMAT==================================*/
.trabajar-amat .row.trabajar {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.trabajar-amat .trabajar h3 {
    margin-bottom: 2rem;
}

/*==============================BLOG==================================*/
/*show 5 categories*/
.single .cat-item {
display: none;
}
.single .cat-item:nth-child(-n+5) {
display: list-item;
}
/**/
.single .by-author, .blog .by-author {
  display: none;
}
.single .wp-block-archives-dropdown.wp-block-archives label {
  display: none;
}
.single article a {
  color: #ab2a3e !important;
}
.single-post .row .col-md-8:first-child {
  width: 100%;
}
.single-post .row .col-md-8.entry-content {
    width: 66.66%;
}
.single .post-thumbnail img  {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.single .post img {
   height: 100% !important;
   width: auto !important;
   object-fit: contain !important;
}
.single header.entry-header {
  box-shadow: none;
}
.single .post-edit-link.badge.badge-secondary {
  color: black !important;
}
.single hr {
  background-color: transparent;
}
/**/
.blog .text-excerpt p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog .text-excerpt, .archive .text-excerpt, .search-results .text-excerpt{
    height: 94px;
    overflow: hidden;
}
#nav-above .btn.btn-secondary.btn-lg {
    display: none;
}
#nav-below .btn-secondary,  #nav-below .btn-secondary:hover, 
#nav-below .btn-secondary:active,  #nav-below .btn-secondary:focus,  #nav-below .btn-secondary:active:focus{
    background-color: transparent;
    border-color: transparent;
    text-decoration: none !important;
    box-shadow: none;
}
.btn.btn-outline-secondary, .btn.btn-outline-secondary:hover,  .btn.btn-outline-secondary:active,
.btn.btn-outline-secondary:focus, .btn.btn-outline-secondary:active:focus{
    background-color: transparent;
    border-color: transparent;
    text-decoration: none !important;
    box-shadow: none;
    color: var(--amat-black);
}
/*páginas navegación blog plugin WP-PageNavi*/
.wp-pagenavi {
    float: right;
    padding: 2rem
}
.wp-pagenavi .pages {
    display: none;
}
.wp-pagenavi .last, .wp-pagenavi .first {
    display: none;
}
.wp-pagenavi span {
  text-decoration: none;
  border: none;
  padding: 3px 5px;
  margin: 2px;
}
.wp-pagenavi a, .wp-pagenavi a:hover {
    color: var(--amat-black);
    font-weight: normal;
    border: none;
}
/**/
.blog .row.blog-all {
  margin-top: 3rem;
}

.blog article:first-child, .archive article:first-child, .search-results  article:first-child{
    width: 96%;
}
.blog article, .archive article, .search-results article{
    width: 47%;
    padding: 0px;
    background: transparent;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.blog article .all-article, .archive article .all-article, .search-resultsarticle .all-article{
    padding: 10px;
}
.archive article .all-article, .archive article .all-article, .search-results article .all-article{
    padding: 10px;
}
.blog article .post-thumbnail, .archive, .search-results .archive{
    margin: 0px 0;
}
.blog article footer.entry-meta, .archive article footer.entry-meta, .search-results article footer.entry-meta{
    text-align: right !important;
}
.blog .btn-secondary, .archive .btn-secondary, .search-results .btn-secondary{
    color: var(--amat-black);
}
.blog .btn-secondary:hover, .archive .btn-secondary:hover, .search-results .btn-secondary:hover{
    color: var(--amat-black);
}
.blog .post-recent .post-title, .archive .post-recent .post-title, .search-results .post-recent .post-title{
    min-height: 4rem;
}
.blog article:hover, .archive article:hover, .search-results article:hover{
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px 0px 50px 0px;
}
.blog article .attachment-large.size-large.wp-post-image, 
.archive article .attachment-large.size-large.wp-post-image, .search-results article .attachment-large.size-large.wp-post-image{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.blog article .attachment-large.size-large.wp-post-image:first-child, 
.archive article .attachment-large.size-large.wp-post-image:first-child, .search-results .attachment-large.size-large.wp-post-image:first-child{
    height: 234px;
}
.blog article .card-body, .archive article .card-body, .search-results article .card-body  {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}
.blog article  .card, .archive article .card, .search-results article .card{
    background-color: transparent;
    border: 0px solid transparent;
}
.blog article .card-text.entry-meta, .archive article .card-text.entry-meta, .search-results article .card-text.entry-meta{
    display: flex;
}
.blog article a, .archive article a, .search-results article a{
    color: var(--amat-black);
}
.blog article .url.fn.n, .archive article .url.fn.n, .search-results article .url.fn.n {
    font-weight: normal;
    text-decoration: none !important;
    font-size: 13px;
}
.blog article .btn.btn-outline-secondary, 
.archive article .btn.btn-outline-secondary, .search-results article .btn.btn-outline-secondary{
    text-decoration:underline !important;
}
.blog article .sep, .archive article .sep, .search-results article .sep{
    color: #ABA39B;
}
.blog article .card-title, .archive article .card-title, .search-results article .card-title{
    min-height: 5rem;
}
.blog article .card-title a, .archive article .card-title a, .search-results article .card-title a{
    background-color: transparent;
    border-color: transparent;
    text-decoration: none !important;
    box-shadow: none;
    color: var(--amat-black);
    text-decoration: none !important;
    font-size: 20px;
}
.blog article .date-post, .archive article .date-post, .search-results article .date-post{
    text-align: right;
    width: 100%;
    font-weight: normal;
    text-decoration: none !important;
    font-size: 12px;
}
.blog article .by-author, .archive article .by-author, .search-results article .by-author{
    width: 100%;
    text-decoration: none !important;
}
.blog, .archive, .search-results {
  overflow-x: hidden;
}
.archive  .row .col-md-8:first-child, .search-results .row .col-md-8:first-child {
    width: 100%;
}
.archive  .row .col-md-8.entry-content, .search-results .row .col-md-8.entry-content{
    width: 66.66%;
}
.archive header .page-title, .search-results header .page-title {
    font-size: 30px !important;
    font-weight: bold !important;
    margin: 1em;
}
.single .single-post{
    max-width: 1200px !important;
    margin:auto;
}
/*comentarios*/
.commentlist > li.comment {
    margin: 0 0 1.625em;
    padding: 0.5em;
}
.commentlist {
    list-style: none;
    margin: 0 auto;
    width: 81.9%;
}
.commentlist a, .commentlist a:hover, .commentlist a:active, .commentlist a:focus  {
    color: var(--amat-black);
    font-size: 13px;
}
.commentlist .avatar {
    border-radius: 22%;
    -webkit-box-shadow: 0 1px 2px #6c757d;
    box-shadow: 0 1px 2px #6c757d;
    height: 64px;
    left: -83px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 65px;
}

.post-recent.col-md-4:first-child .text-excerpt {
    height: auto;
}
.post-recent.col-md-4:first-child {
    width: 59%;
}
.post-recent.col-md-4 {
    width: 29%;
}
.post-recent .box{
    padding: 1px 6px 5px 10px;
}
.post-recent .attachment-thumbnail.size-thumbnail.wp-post-image {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.post-recent .date {
    text-align: right;
}
.post-recent .author{
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}
.post-recent .author span{
    font-weight: normal;
    color: #ABA39B;
}
.post-recent{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.post-recent:hover {
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0px 0px;
}
.post-recent.col-md-4 {
    padding: 0px;
    margin-left: 1rem;
}
.post-recent .post-info.row {
    margin-top: 1rem;
}
.post-recent .post-title {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none !important;
    color: var(--amat-black);
}
.post-recent.col-md-4:first-child .post-title{
    margin-bottom: 1rem;
    margin-top: 0rem;
}
.post-recent .read-more {
    text-align: right;
    font-size: 16px;
    color: var(--amat-black);
}
.post-recent .read-more img{
    width: 18px;
}
.blog .blog-all, .archive .blog-all {
    max-width: 1200px !important;
    margin: auto;
}
/*---single post---*/
.single  .row.container-blog {
    margin-left: 5rem;
    margin-right: 5rem;
}
.single .btn-outline-secondary {
    border-color: transparent;
    color: var(--amat-black);
    text-decoration: none !important;
}
.single .btn-outline-secondary:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--amat-black);
}
#commentform a {
    color: black;
    font-weight: normal;
}
.single .btn-check:active + .btn-outline-secondary, 
.single .btn-check:checked + .btn-outline-secondary, 
.single .btn-outline-secondary.active, 
.single .btn-outline-secondary.dropdown-toggle.show, 
.single .btn-outline-secondary:active{
    background-color: transparent;
    border-color: transparent;
    color: var(--amat-black);
}
.single .next-post .title {
    display: none;
}
.single .post-thumbnail img, .single .post img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.single #main {
    margin-top: -1rem;
}
.single .post {
    padding: 5px 20px;
}
.single .post .entry-title {
    font-size: 24px !important;
    font-weight: bold !important;
    margin-top: 1rem;
    font-family: 'work sans', sans-serif;
}
.single .post .date-post {
    /* text-align: right;
    width: 70%;
    display: block;
    float: right; */
}
.single .post .sep {
    color: #ABA39B;
    font-size: 14px;
}
.single .post .author-meta.vcard a {
    color: var(--amat-black);
    text-decoration: none !important;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
}
.single .post .date-post {
    color: black;
    text-decoration: none !important;
    text-transform: lowercase;
    font-size: 19px;
    font-weight: normal;
    pointer-events: none !important;
}
.single #sidebar, .blog #sidebar, .archive #sidebar, .search-results #sidebar {
    padding: 4rem 2rem 1rem 2rem;
    background: #ECEBE9;
    border-radius: 20px;
    margin-top: 3rem;
    width: 100%;
}
.archive .recentposts, .blog .recentposts, .search-results .recentposts{
  display: none;
}
.single #sidebar .bg-faded.sidebar-nav h3 {
    font-family: 'Work Sans', serif;
    font-weight: bold;
    margin-top: -2rem;
}
#sidebar .cat-item a {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--amat-black);
  text-decoration: none !important;
}
#sidebar .wp-block-archives-dropdown select {
  border-radius: 20px;
  background: white;
  border: 1px solid black;
  padding: 1px 5px;
}
#sidebar .categories li a.btn.btn-outline-secondary {
  display: none;
}
#sidebar .wp-block-archives-dropdown.wp-block-archives label {
  display: none;
}
#sidebar .cat-item.cat-item-1 a {
  color: black;
  text-decoration: none !important;
  font-weight: normal;
  font-size: 14px;
}
.single #sidebar #widget-area {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
.single #sidebar .archive-title {
  color: #ABA39B;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal !important;
  font-size: 14px;
}
.single #sidebar #widget-area h2{
    font-weight: bold;
    font-size: 25px;
}
.single #sidebar .post-recent:hover {
    box-shadow: none;
}
.single #sidebar .post-title {
    font-size: 15px;
}
.single #sidebar .date {
    text-align: right;
    font-size: 11px;
    width: 100%;
}
.single #sidebar .author.col-md-6 {
    color: transparent;
    display: none;
}
.single #sidebar .post-recent p {
    font-size: 12px;
}
.single .post-recent .read-more {
    text-align: right;
    font-size: 13px;
}
.single .previous-post .title {
    display: none;
}
.single #comments {
    margin-top: 0rem;
    padding: 5px 20px;
    background: #FFFFFF;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-left: 1rem;
}
.single #comments-title {
  font-size: 20px;
}
.single #comment, .single #author, .single #email{
    background: #ECEBE9;
    border-radius: 15px;
    border: none;
}
.single .post-navigation.d-flex.justify-content-between{
    padding: 5px 20px;
}
.single .widget-area .recentposts li {
  display: flex;
}
.single .widget-area .recentposts .img-post img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px 0px;
}
.single .recentposts .link-post{
    color: black;
    text-decoration: none !important;
    font-size: 14px;
    line-height: 10px !important;
}
.single .recentposts h4 {
  padding: 0px 5px;
}
/*.single #main .row a, .single #main .row a:hover{
    color: var(--amat-black);
}*/
.single #submit {
    background: var(--amat-red);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    border: none;
    padding: 9px 20px;
    margin-bottom: 1rem;
}
.single .form-submit {
    text-align: right;
}
.author #main a, .author #main a:hover{
    color: var(--amat-black);
}
.author .post .card-title a{
    text-decoration: none !important;
}
.author .post .card {
    border: none;
}
.author .post .post-thumbnail img, .author .post .post img {
    height: auto;
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.author .btn-outline-secondary {
    border-color: transparent;
    text-align: right;
    width: 100%;
}
.author .btn-outline-secondary:hover {
    background-color: transparent;
    border-color: transparent;
}
.author .btn-outline-secondary:active {
    background-color: transparent;
    border-color: transparent;
}
.author .author-meta a, .author .date-post  {
    font-size: 12px;
}
/**/
/*===================================CONTACTO======================================*/
.contacto .banner-imagen{
	object-fit: cover;
	object-position: center;
	width: 100%;
}
.banner {
    position: relative;
    top: -1rem;
}
.contacto  .card-form {
    background: #FFFFFF;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 2rem 2rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.contacto .titulo-principal {
    margin-top: 1rem;
}  
.contacto .titulo-principal h1 {
  font-size: 39px !important;
  font-weight: bold !important;
}
.contacto .checks-acceptance {
    margin-top: 1rem;
}
.contacto .wpcf7-list-item-label, .contacto .wpcf7-list-item-label a {
    font-size: 11px;
    color: var(--amat-black);
}
.contacto .button.red {
    float: right;
}
.contacto .oficinas-titulo h3 {
    font-size: 'Crimson Text';
    font-weight: bold;
    font-size: 30px;
}
.contacto .accordion-button p {
	text-align: left;
}
.contacto .accordion-button {
	pointer-events: none !important;
}
.contacto .oficinas iframe {
    width: 100%;
    max-height: 400px;
    border-radius: 50px 0px;
}
.contacto .oficinas h2{
    border-bottom: 2px solid black;
}
.contacto  .accordion-button:not(.collapsed)::after {
    display: none;
}
.contacto .accordion-body {
    min-height: 300px;
}
.contacto .direccion-horario {
    min-height: 5rem;
}
.contacto .direccion-horario p, .contacto .direccion-horario ul{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
.contacto .accordion-button p {
    font-size: 18px;
}
.contacto .oficinas {
    margin-bottom: 3rem;
}
.contacto .accordion-item {
  	border: 1px solid transparent;
}
.contacto  .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  outline: 1px solid transparent;
}
/*================================PAG VIDEOS=================================*/

.videos .video {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.nav-link:focus, .nav-link:hover {
  color: var(--amat-black) !important;
}
.videos #myTab .nav-link.active {
  color: var(--amat-red) !important;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 3px solid var(--amat-red) !important;
  padding-bottom: 2rem;
  background-color: transparent;
  border-color: none !important;
}
.videos #myTab .nav-link {
  color: var(--amat-dark-gray);
  border-bottom: 1px solid #dee2e6;
    border-bottom-color: rgb(222, 226, 230);
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 2rem;
  border-color: transparent !important;
  padding-bottom: 2rem;
}
.videos .sb_youtube_header {
  display: none;
}
.videos #proper {
  margin-top: 3rem;
}
.videos .sby_load_btn{
    background: white !important;
    border: 1px solid black !important;
    color: black !important;
    text-decoration: none !important;
    border-radius: 20px !important;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal !important;
}
.videos .sby_follow_btn {
  display: none !important;
}
/*===============================PAG GENÉRICA==============================*/
.generica .titulo-principal h1 {
  font-weight: bold !important;
  font-size: 40px !important;
  margin: 1.5em 0em;
}
/*=============================SOBRE NOOSTROS================================*/
.quienes-somos .tabs-servicios .accordion-item {
  background-color: #fff;
  border: none;
}
.quienes-somos .accordion-button {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}
.quienes-somos .tab-servicios .accordion-button {
  pointer-events: none;
}
.quienes-somos .accordion-button:not(.collapsed)::after {
  display: none;
}
.quienes-somos h3.titulo-about {
  float: right;
  font-size: 45px;
  width: 40%;
    text-align: right;
}
.quienes-somos .accordion-button:focus {
  border-color: transparent;
}
.quienes-somos .accordion-button:not(.collapsed) {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0);
}
/*====================================HOME BLOCK==========================================*/
.home-block .col-md-6.right .img {
  border-radius: 24px 0px;
  margin-top: 0px;
  max-width: 100%;
object-fit: cover;
}
.home-block .btn-slider {
  text-align: center;
}
.home-block #slider {
  margin-bottom: 40px;
}
.home-block .button.gray{
  background: #ECEBE9;
  border: 1px solid #645C54;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  color: #645C54;
  padding: 10px 25px;
  font-weight: normal;
}

.home-block .servicios-slide .col-md-6.left.txt p{
  margin-top: 30px;
  width: 100%;
  height: 140px;
   display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.home-block  .col-md-6 {
  padding: 20px;
}
.home-block .servicios-2 .url {
  color: var(--amat-black);
  text-decoration: none ;
	float: right;
}
.home-block .servicios-2 .url:hover{
    /*text-decoration: underline;*/
}
.home-block .servicios-2 .url .arrow:hover {
  padding-left: 10px;
}
.home-block .url:hover {
  color: var(--amat-black);
}
.home-block .grid .img{
    border-radius: 20px 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter:brightness(0.5);
}
.home-block .grid .img:hover{
    filter:brightness(1);
}
.home-block .grid .col-md-6{
    position: relative;
}
.home-block .grid .foto p {
  position: absolute;
  bottom: 30px;
  right: 60px;
  color: var(--amat-white);
  font-weight: bold;
  font-size: 17px;
  font-weight: bold !important;
}
.home-block .grid .col-md-6:last-child, .home-block .grid .col-md-6:first-child {
  width: 70% !important;
}
.home-block .grid .col-md-6 {
  width: 30% !important;
}
.home-block .grid .col-md-6 .foto {
  margin-bottom: 10px;
}
.home-block .grid .foto p::after {
  background: url(/w/wp-content/uploads/2022/01/arrow.png);
    background-repeat: repeat;
    background-size: auto;
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  top: 0.7rem;
  right: -2em;
  display: block;
  background-size: auto;
  height: 19px;
  width: 20px;
}
.home-block .titulo-servicios-1 h3 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 800;
  padding-left: 110px;
}
.home-block .titulo-servicios-1{
    position: relative;
}
.home-block .titulo-servicios-1 h3:before {
    background: url(/w/wp-content/uploads/2022/01/servicios.png);
    background-repeat: repeat;
    background-size: auto;
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    border: none;
    top: 0.2rem;
    left: 0em;
    display: block;
    background-size: auto;
    height: 20px;
    width: 61px;
}
.home-block #slider-3 .servicios-title:before {
    background: url(/w/wp-content/uploads/2022/02/fav.png);
    content: '';
    background-repeat: no-repeat;
    border: none;
    top: 0.2rem;
    left: 0em;
    display: block;
    background-size: auto;
    height: 37px;
    width: 42px;
}
.home-block #slider-3 .servicios .servicios-title{
    min-height: 7rem;
}
.home-block #slider-3 .servicios {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px 0px;
  margin: 10px;
}
.home-block #slider-3 .servicios .servicios-title {
  min-height: 7rem;
}
.home-block #slider-3 .servicios p{
    -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(#000), to(rgba(0,0,0,0)));
    max-height: 120px;
    min-height: 80px;
}
.home-block #slider-3 .servicios p:hover{
    -webkit-mask-image: -webkit-gradient(linear, left 0%, left bottom, from(#000), to(#000));
}
.home-block .servicios-1{
  margin-top: 80px;
  margin-bottom: 40px;
}
.home-block .servicios-slide {
  margin-bottom: 80px;
  margin-top: 85px;
}
.home-block .servicios-slide h3 {
  font-weight: normal;
}
.home-block  .foto img{
  width: 100%;
  max-height: 600px;
object-fit: cover;
border-radius: 40px 0px;
}
.home-block .servicios-1 .url{
    color: var(--amat-red);
    font-size: 14px;
    text-decoration: none !important;
    border: 1px solid var(--amat-red);
    border-radius: 25px;
    padding: 7px 25px;
}
.home-block .titulo-principal{
	margin-top: 50px;
  margin-bottom: 0px;
}
.home-block .titulo-principal h4 {
  text-align: left;
  font-weight: 300 !important;
  font-size: 45px;
  margin-left: 20px;
}
.home-block .titulo-principal h1 {
  font-style: normal;
  font-weight: 800 !important;
  font-size: 47px !important;
  text-align: center;
}

.home-block #slider-4  {
  padding-left: 2% !important;
  padding-right: 2% !important;
 }

 .home-block #slider-4 .form-text {
  margin-bottom: 25px;
 }

 .home-block .buttonSubmit{
  background: #ECEBE9;
  border: 1px solid #645C54;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 5%);
  border-radius: 50px;
  color: #645C54;
  padding: 10px 25px;
  font-weight: normal;
}

/*===========================================SERVICIOS===========================================*/
.servicios .navegacion {
  position: fixed;
  top: 6vh;
  z-index: 1;
  text-align: center;
  width: 100%;
  text-align: center;
  background: white;
  height: 14vh;
  padding-top: 4vh;
}

.single-service a {
  color: var(--amat-black);
  font-weight: 400 !important;
  font-size: 14px;
  text-decoration: underline;
}
.single-service a:hover, .single-service a:active, .single-service a:focus {
  color: var(--amat-black);
  font-weight: 400 !important;
  font-size: 14px;
  text-decoration: underline;
}
.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
  width: 100%;
  border: none;
  border-radius: 20px;
  background: var(--amat-light-gray);
  padding: 5px 16px;
  margin: 0.4rem;
  width: 100%;
  font-size: 12px;
}
.servicios .navegacion a:active, .servicios .navegacion a:focus{
  color: var(--amat-red);
  border-bottom: 3px solid var(--amat-red);
  padding-bottom: 4px;
}
.servicios .navegacion a{
  color: var(--amat-medium-gray);
  margin-left: 1vh;
  font-weight: normal;
  font-size: 14px;
}
.servicios .single-service {
  padding-top: 16vh;
}
.servicios a.myServ {
display: block;
position: relative;
top: 200px;
visibility: hidden;
}
.serv-link.active{
  color: var(--amat-red) !important;
  border-bottom: 3px solid var(--amat-red);
  padding-bottom: 4px;
}              

.servicios .card-form {
  padding: 2vh;
  background: #FFFFFF;
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 5rem 4rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.servicios .card-form  h4, .contacto .card-form h4 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 45px;
}
.wpcf7-response-output {
  display: none;
}
.servicios .wpcf7-list-item-label a {
  font-size: 11px;
  color: var(--amat-black);
}
.servicios .wpcf7-list-item-label {
  font-size: 11px;
}
.servicios .banner-servicios {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  margin: auto;
    margin-top: auto;
    margin-bottom: auto;
  width: 54%;
  margin-top: 20vh;
  margin-bottom: 15vh;
}
.servicios .section-servicios-principales .uno h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 24px;
}
.servicios .section-servicios-principales .uno p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.servicios .section-servicios-principales .uno li {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.servicios .sticky {
  
}
.servicios  .sticky .button.red {
  position: fixed;
  bottom: 10vh;
  margin: auto;
  z-index: 1;
  margin-left: 35%;
}
.servicios .caracteristica .col-md-4 {
  text-align: center;
  margin-bottom: 5vh;
}
.servicios .caracteristica {
  margin-top: 8vh;
  margin-bottom: 8vh;
}
.servicios .caracteristica h4 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px;
}
.servicios .caracteristica  p{
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.servicios .seccion-video .uno h2:before{
  background: url(/w/wp-content/uploads/2022/02/fav.png);
  background-size: auto;
  content: '';
  background-repeat: no-repeat;
  border: none;
  top: 0.2rem;
  left: 0em;
  display: block;
  background-size: auto;
  height: 39px;
  width: 38px;
} 

 .seccion-video .uno h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 24px;
 }

 .seccion-video .uno p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
 }

  /* .seccion-video .dos iframe{
   width: 180%; 
 }  */

.servicios .destacada p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  width: 65%;
  margin: auto;
  text-align: center;
}
.servicios .pestana-texto {
  margin-top: 3rem;
}
.servicios #nav-tab .nav-link.active {
	color: var(--amat-red) !important;
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 3px solid var(--amat-red) !important;
	padding-bottom: 2rem;
	background-color: transparent;
	border-color: none !important;
}
.servicios #nav-tab .nav-link{
	color: var(--amat-dark-gray);
	border-bottom: 1px solid #dee2e6;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	padding-bottom: 2rem; 
	border-color: transparent !important;
	padding-bottom: 2rem;
}
.servicios #nav-tab .nav-link:focus, .servicios #nav-tab .nav-link:hover {
	color: var(--amat-dark-gray) !important;
}
.servicios #nav-tab .nav-link.active:focus, .servicios #nav-tab .nav-link.active:hover {
	color: var(--amat-red) !important;
}
.servicios .section-1-servicios {
  margin-top: 4rem;
}
/*tabs servicios*/
.servicios .all-tab-img img {
    padding-bottom: 20px;
}
.servicios .all-tab-img img:nth-last-child(2) {
    padding-bottom:0;
}
.servicios .ourwork-tab-wrap .container2 h3{
  font-size: 16px;
}
.servicios .ourwork-tab-wrap{
    padding: 50px 0px;
    position: relative;
}

.servicios .ourwork-tab-wrap .nav-tabs {
    display:none;
    border-bottom: none;
}
.servicios .ourwork-tab-wrap .nav-tabs .nav-item {
    background: transparent;
    margin-right: 10px;
    margin-bottom: 0px;

}
.servicios .ourwork-tab-wrap .nav-tabs .nav-link{
    border: none;
    border-radius: 9px;
    color: #fff;
}
.servicios .ourwork-tab-wrap .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: #54bbca;
    color: #fff;
}
.servicios .ourwork-tab-wrap .container2 {
  display: flex;
}
.servicios .ourwork-tab-wrap .nav-tabs .nav-item {
  width: 100%;
  background: transparent;
  margin-right: 10px;
  margin-bottom: 0px;
}
.servicios .ourwork-tab-wrap .nav-tabs .nav-link {
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #fff;
  text-decoration: none !important;
  padding: 25px 102px 25px 20px;
  background: var(--amat-light-gray);
  border-radius: 9px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--amat-black);
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
}
.servicios .ourwork-tab-wrap .nav-tabs .nav-link.active {
  background-color: #fff;
  border-color: none;
  color: var(--amat-white);
  background: var(--amat-red) !important;
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 25px 102px 25px 20px;
  border-radius: 8px;
}
.servicios .ourwork-tab-wrap  .nav-link:focus, .servicios .ourwork-tab-wrap  .nav-link.active:hover {
  color: var(--amat-white) !important;
}
.servicios .ourwork-tab-wrap .tab-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*empleados*/
.servicios .slider-ct .empleado-img .img {
    max-width: 100% !important;
    width: 100%;
    border-radius: 0px 50px;
    filter: grayscale(1);
    margin: auto;
}
.servicios .slider-ct .name {
  font-weight: 500 !important;
  font-size: 17px;
  text-align: center;
  margin-top: 2rem;
}
.servicios .slider-ct .cargo {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: var(--amat-medium-gray);
  text-transform: capitalize !important;
}
.servicios .slider-ct .oficina, .servicios .slider-ct .telf {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
.servicios-empleados {
  max-width: 800px;
  height: auto;
}
.servicios-empleados .img {
  width: 100%;
  border-radius: 0px 50px;
}
.servicios-empleados .empleado-img {
  width: 100%;
  border-radius: 0px 50px;
  filter: grayscale(1);
  margin:auto;
}
.servicios-empleados .empleado {
  margin: 1vh;
}
.servicios-empleados .name {
  font-weight: 500 !important;
  font-size: 17px;
  text-align: center;
  margin-top: 1rem;
}
.servicios-empleados .cargo {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: var(--amat-medium-gray);
  text-transform: capitalize !important;
}
.servicios-empleados .oficina, .servicios-empleados .telf {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
.servicios-empleados .mail img{
    margin:0 auto;
}
.servicios-empleados .slick-dots li button {
  background: var(--amat-light-gray);
  border: none;
}
@media(min-width:768px) {
    .servicios .ourwork-tab-wrap .nav-tabs {
        display: block;
    }

    .servicios .ourwork-tab-wrap .card {
        border: none;
    }

    .servicios .ourwork-tab-wrap .card .card-header {
        display:none;
    }

    .servicios .ourwork-tab-wrap .card .collapse{
        display:block;
    }
    
}

@media(max-width:767px){
    .servicios .ourwork-tab-wrap .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
        margin-bottom: 10px;
    }
}


/*===============================HEADER==============================================*/
/*logo*/
.navbar-brand img {
  height: 33px !important;
  padding-left: 25px;
}
.navbar-brand {
  font-size: 1.2rem;
  margin-right: 0rem;
}
/*sticky header*/
#header {
position: fixed;
top: 0;
width: 100%;
z-index: 2000;
margin-top: 0rem;
}
.top-bar {
    /* padding-top: 4.1em; */
}
/*selector idioma menú oculto en desktop*/
#header .dropdown-item {
  font-size: 13px;
}
#menu-item-wpml-ls-8-en, #menu-item-wpml-ls-8-es, #menu-item-wpml-ls-8-ca, header .login {
 /* display: none;*/
}
/**/
#header .dropdown-item {
  text-decoration: none !important;
}
#header .dropdown-item:focus, #header .dropdown-item:hover {
  background-color: transparent;
}
#header #navbar .search-form {
  min-width: 100px !important;
}
#header{
    padding-bottom: 0px;
    padding-top: 0px;
}
header {
  background: var(--amat-white);
	-webkit-box-shadow: 3px 18px 15px -17px rgba(201,201,201,1);
	-moz-box-shadow: 3px 18px 15px -17px rgba(201,201,201,1);
	box-shadow: 3px 18px 15px -17px rgba(201,201,201,1);
}
#header #navbar {
  margin-top: 2vh;
   margin-bottom: 2vh; 
  text-transform: uppercase;
}
#header .container{
    background: var(--amat-white);
}
.top-bar{
    /* margin-top: 0.5rem; */
}
.top-bar .container {
   background: var(--amat-white);
    display: flex;
    /* padding-bottom: 1em; */
}
.top-bar .admin-btn  {
  background: var(--amat-red);
  border-radius: 25px;
  padding: 7px 15px;
  color: var(--amat-white);
  text-decoration: none !important;
  font-weight: normal;
  font-size: 13px;
}
.top-bar .btns {
  text-align: right;
}
.top-bar .login-btn  {
  background: var(--amat-white);
  border:1px solid var(--amat-red);
  border-radius: 25px;
  padding: 7px 15px;
  color: var(--amat-red);
  text-decoration: none !important;
  font-weight: normal;
  font-size: 14px;
}
#navbar .nav-link {
  color: var(--amat-black);
  font-weight: normal;
  font-size: 13px;
  text-decoration: none !important;
  /* margin-right: 10px; */
}
#navbar .me-auto {
  margin: auto !important;
}
#menu-item-wpml-ls-8-en, #menu-item-wpml-ls-8-es, #menu-item-wpml-ls-8-ca, header .login , header .admin{
  display: none;
}

.wpml-ls-legacy-dropdown {
  margin-left: auto;
}
.wpml-ls-legacy-dropdown a {
  display: block;
  text-decoration: none;
  color: var(--amat-black);
  border: 1px solid var(--amat-white);
  background-color: var(--amat-white);
  padding: 5px 10px;
    padding-right: 10px;
  line-height: 1;
  text-decoration: none !important;
}
.wpml-ls-legacy-dropdown a span {
  vertical-align: middle;
  font-weight: lighter;
  font-size: 13px;
}
.wpml-ls-legacy-dropdown {
  width: 6.5em;
}
.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
  color: var(--amat-black);
  background: var(--amat-white);
}
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
  border-top: 1px solid transparent;
}

/*search*/
#navbar  .btn.btn-outline-secondary {
  border-radius: 0px 25px 25px 0px;
  background: var(--amat-light-gray);
  height: 30px;
}
#navbar  .form-control {
  border-radius: 25px 0px 0px 25px;
  background: var(--amat-light-gray);
  border: none;
  height: 30px;
  font-size: 14px;
}
#navbar  .form-control:focus {
  box-shadow: none;
}
#navbar .input-group .btn {
padding-bottom: 0px;
padding-top: 0px;
}


#headingTwo, #headingOne, #headingFour {
  scroll-margin-top: 220px;
}




















@media (max-width: 500px) {
/*=================================RESPONSIVE======================================*/
/*====================TIPOGRAFIAS===============================================*/

    h1{
    	font-size: 40px;
    	font-family: 'Work Sans', serif;
    	font-weight: 200;
    }
    h2{
    	font-size: 26px;
    	font-family: 'Work Sans', serif;
    	font-weight: 800;
    }
    h3{
    	font-size: 22px;
    	font-family: 'Work Sans', serif;
    	font-weight: 800;
    }
    h4{
    	font-size: 18px;
    	font-family: 'Work Sans', serif;
    	font-weight: 800;
    }
    h5{
    	font-size: 16px;
    	font-family: 'Work Sans', sans-serif;
    	font-weight: 200;
    }
    p{
    	font-size: 12px;
    	font-family: 'Work Sans', sans-serif;
    	font-weight: bold;
    }
    button, .button{
    	font-family: 'Work Sans', sans-serif;
    	font-size: 14px;
    	text-transform: uppercase;
    }
    a{
    	font-family: 'Work Sans', sans-serif;
    	font-size: 14px;
    	font-weight: bold;
    	text-decoration: underline !important;
    }
    li, strong{
    	font-size: 12px;
    }
    .banner img {
      width: 100%;
      object-fit: contain;
      min-height: 185px;
      object-fit: cover;
    }
    /*accodions*/
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
    }
    /*=================================FOOTER==========================================*/
    #footer .footer .footer1, #footer .footer .footer2, #footer .footer .footer3,
    #footer .footer .footer4{
    	text-align: center;
    }
    #footer .footer1 .logo{
       width: 100% !important;
    }
    #footer p {
        margin-bottom: -7px;
    }
    #footer .row.black-footer {
        border-top: none;
    }
    #footer .col-md-4.links-legales, #footer .reserved, #footer .languages {
    	text-align: center;
    	margin-top: 0.5rem;
    }
    #footer .black-footer{
    	padding-bottom: 3rem;
    }
    /*bloques footer mobile*/
    #footer .footer .col-md-3.footer5.mobile {
        display: block;
     }
    #footer .footer .col-md-3.footer5 {
        display: none;
    }
    #footer .black-footer .col-md-3.desk {
        display: none;
    }
    #footer .black-footer .col-md-3.mobile {
        display: block;
        margin-top: 3rem;
    }
    #footer .footer1 .logo {
        width: 32% !important;
    }
    #footer .footer5 .first-line {
        margin-bottom: 1em;
        text-align: center;
    }

    
    /**/

    /*=================================QUIENES SOMOS==============================*/
    .quienes-somos .cabecera .col-md-6 {
        height: auto;
        display: block;
    }
    .quienes-somos .cabecera .imagen {
        height: auto;
    }
    .quienes-somos #nav-nosotros-tab {
    width: 50%;
    }
    .quienes-somos #nav-filosofia-tab {
    width: 50%;
    }
    .quienes-somos .cabecera .titulo-principal {
      margin-top: 5em;
    }

    /*=============SECCION TRABAJA CON NOSOTROS Y TESTIMONIOS MBL=================*/
    .seccion-trabajo-testimonios {
        /*background: #ECEBE9;*/
        background-image: linear-gradient(bottom, #FFFFFF 26%, #ECEBE9 25%);
    	background-image: -o-linear-gradient(bottom, #FFFFFF 26%, #ECEBE9 25%);
    	background-image: -moz-linear-gradient(bottom, #FFFFFF 26%, #ECEBE9 25%);
    	background-image: -webkit-linear-gradient(bottom, #FFFFFF 26%, #ECEBE9 25%);
    	background-image: -ms-linear-gradient(bottom, #FFFFFF 26%, #ECEBE9 25%);
    	padding: 4vh 2vh;
        margin-bottom: 4rem;
    	border-top-left-radius: 0PX;
    	border-bottom-right-radius: 0PX;
    }
    .seccion-trabajo-testimonios button.collapsed {
        border-bottom: 2px solid black;
        border-radius: 0px !important;
    }
    .testimonios .titulo-seccion {
        margin-top: 3rem;
    }
    .testimonios .slick-next {
        right: 1rem;
    }
    .testimonios .slick-prev {
        right: 1rem;
    }
    /*==========================PRE FOOTER mbl=================================================*/
    .pre-footer .num-fondo {
    	font-size: 34px;
    	width: 30%;
      display: none;
    }
    .pre-footer p.mas {
        font-size: 22px;
    }
    .pre-footer .num {
        font-size: 47px;
    }
    .pre-footer .contador p {
        font-size: 10px;
        width: 100%;
    }
    .pre-footer .contador {
       margin-bottom: 6vh;
    }
    .pre-footer #contadores {
      position: relative;
    }
    .pre-footer {
      margin-top: 3rem;
      padding: 3vh 1vh;
      margin-bottom: 1rem;
    }
    .pre-footer .num::after {
      content: '+';
      font-size: 12px;
      position: relative;
      top: -3vh;
    }
    /*=======================================BLOG MBL==============================*/
    .blog .row.blog-all {
      margin-top: 5rem;
    }
    .single-post .row .col-md-8.entry-content {
      width: 100%;
    }
    .blog article:first-child, .blog article, .archive article, .archive article:first-child, .search-results article, .search-results article:first-child{
        width: 90%;
    }
    .single #sidebar .bg-faded.sidebar-nav h3 {
        text-align: center;
    }
    .single .lista-post .post-recent {
        box-shadow: none;
    }
    .post-recent.col-md-4 {
        width: 100% !important;
    }
    .post-recent.col-md-4 {
        padding: 0px;
        margin-left: 0;
    }
    .row.lista-post {
        margin: 0.5rem;
    }
    .post-recent{
        background: #FFFFFF;
        box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px 20px 0px 0px;
    }
    .post-recent .author.col-md-6 {
        display: none;
    }
    .post-recent .read-more {
        margin-bottom: 1rem;
    }
    /*comentarios*/
    .single #comments {
        margin-left: 0px;
    }
    .single #comments {
      margin: 1em;
    }
    .single #sidebar {
      padding: 4rem 2rem 1rem 2rem;
      background: #ECEBE9;
      border-radius: 20px;
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
    .single .commentlist .avatar {
        border-radius: 50%;
        -webkit-box-shadow: 0 1px 2px #6c757d;
        box-shadow: 0 1px 2px #6c757d;
        height: 64px;
        left: -89px;
    }
    .single .commentlist > li.comment {
        padding: 0.5em;
    }
    .single .comment-content {
        margin-top: 1rem;
    }
    /*==============================CONTACTO================================*/
    .contacto .accordion-button {
    	pointer-events:auto !important;
    }
    .contacto  .accordion-button:not(.collapsed)::after {
        display: block !important;
    }
    .contacto .oficinas-titulo h3 {
        font-size: 18px;
        margin-left: 1rem;
    }
    .contacto .accordion-button p {
        width: 100%;
        text-align: left;
        font-size: 20px;
    }
    .contacto .accordion-body {
        min-height: 300px;
    }
    .contacto .oficinas iframe {
        max-height: 200px;
    }
    .contacto .form .checks-acceptance {
        position: absolute;
        bottom: 6rem;
    }
    .contacto .form .wpcf7-form.init {
        position: relative;
    }
    .contacto .form .button.red {
        margin-top: 10rem;
    }
    /*====================================PAG VIDEOS==============================*/
    .videos .nav-item {
      width: 32%;
    }

    /*=============================SOBRE NOSOTROS================================*/
    .quienes-somos .titulo-principal h3 {
      font-size: 32px;
    }
    .quienes-somos .nav-link {
      padding-bottom: 1rem;
    }
    .quienes-somos h3.titulo-about {
      float: none;
      font-size: 32px;
      width: 40%;
      text-align: left;
      margin-bottom: 1rem;
    }
    .quienes-somos .nav-link.active {
      padding-bottom: 1rem;
    }
    .quienes-somos .tabs-servicios.container {
      margin-top: 2rem;
    }
    .quienes-somos .accordion-button.collapsed {
      border-bottom: 1px solid black !important;
    }
    .quienes-somos .accordion-button {
      border-bottom: 1px solid black !important;
    }
    .quienes-somos .accordion-button:focus {
      border-color: black !important;
    }
    .quienes-somos .accordion-item:last-of-type .accordion-button.collapsed {
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
    .quienes-somos .accordion-button.collapsed {
      color: var(--amat-black) !important;
    }
    .quienes-somos .accordion-button:not(.collapsed)::after {
      display: block;
    }
    .quienes-somos .accordion-button {
      pointer-events: initial;
    }
    .quienes-somos .tabs-servicios ul {
      font-family: Work Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
    }
    .quienes-somos .tabs-servicios ol, .quienes-somos .tabs-servicios ul {
      padding-left: 1rem;
    }
    .quienes-somos #nav-nosotros ul {
      padding-left: 0rem;
    }
    .quienes-somos  #nav-nosotros ul {
      list-style:none !important;
    }
    /*============================================HOME BLOCK================================*/
    .home-block .grid .col-md-6:last-child, .home-block .grid .col-md-6:first-child {
		width: 100% !important;
	}
	.home-block .grid .col-md-6 {
		width: 100% !important;
	}
	.home-block .servicios-slide .left, .home-block .servicios-slide .right, .home-block .servicios-slide h3 {
	  width: 95%;
	  margin: auto;
	}
	.home-block #slider-3 .servicios {
	  margin-bottom: 30px;
	}
	.home-block #slider-4 div {
	  margin-bottom: 0.5vh !important;
	}
 
  
	/*=========================================SERVICIOS=================================*/
	/*sticky servicios*/
  .servicios .navegacion {
    position: fixed;
    top: 5vh;
    z-index: 1;
    text-align: center;
    width: 100%;
    text-align: center;
    background: white;
    height: 6vh;
    padding-top: 1vh;
     overflow: auto;
    white-space: nowrap;
  }
  .servicios .navegacion a{
    display: inline-block;
    text-decoration: none !important;
  }
  /**/
  .servicios .banner-servicios {
    margin-top: 15vh;
    margin-bottom: 8vh;
  }
  .servicios .banner-servicios {
    font-size: 19px;
    width: 85%;
  }
  .servicios .sticky .button.red {
    margin-left: 8%;
  }
  .servicios .slick-slide img {
    margin: auto;
  }
  .servicios .servicios-empleados .slick-prev.slick-arrow {
    display: none !important;
    }
  .servicios .servicios-empleados  .slick-next.slick-arrow {
    display: none !important;
  }
	.servicios .section-1-servicios {
	  margin-top: 0rem;
	}
	.servicios .ourwork-tab-wrap .container2 #content {
	  width: 100%;
	}
	.servicios .ourwork-tab-wrap .container2 #content .card .card-header a:after {
	  	background:url(/w/wp-content/uploads/2022/01/chevronn.png)no-repeat center;
	  	content: '';
		position: relative;
		border: none;
		top: -0.5em;
		left: 9em;
		display: block;
		  background-size: auto;
		height: 0.75em;
		background-size: contain;
        transform: rotate(180deg);
	}
	.servicios .ourwork-tab-wrap .container2 #content .card .card-header a.collapsed:after {
	  	background:url(/w/wp-content/uploads/2022/01/chevronn.png)no-repeat center;
	  	content: '';
		position: relative;
		border: none;
		top: -0.5em;
		left: 9em;
		display: block;
		  background-size: auto;
		height: 0.75em;
		background-size: contain;
		transform: rotate(360deg);
	}
	.servicios .ourwork-tab-wrap .card-header h5 a {
	  background: transparent;
	  color: var(--amat-black);
	  border-bottom: none;
	  text-decoration: none !important;
	  font-size: 16px;
	  display: block;
	}
	.servicios .ourwork-tab-wrap .card-header {
	  background: transparent;
	  color: #fff;
	  border-bottom: 1px solid black;
	}
	.servicios .ourwork-tab-wrap .container2 #content .card {
	  border: none;
	}
	.servicios .ourwork-tab-wrap .card-body {
	  border: none;
	}
    .servicios .ourwork-tab-wrap {
      padding: 15px 0px;
    }
	/*.servicios .ourwork-tab-wrap #collapse-A-2 .card-body p:after, 
	.servicios .ourwork-tab-wrap #collapse-A-2 .card-body li:after {
	  	content: '|';
		color: var(--amat-red);
		display: block;
		background-size: contain;
		transform: rotate(180deg);
		font-weight: bold;
		font-size: 15px;
	}
	.servicios .ourwork-tab-wrap #collapse-A-2 .card-body p:last-child:after, 
	.servicios .ourwork-tab-wrap #collapse-A-2 .card-body li:last-child:after {
	  	background:url(/w/wp-content/uploads/2022/01/lip.png)no-repeat center;
	  	content: '';
		position: relative;
		border: none;
		top: 0.5em;
		left: 0em;
		display: block;
		background-size: auto;
		height: 1.5em;
		background-size: contain;
		transform: rotate(0deg);
	}
	.servicios .ourwork-tab-wrap #collapse-A-2 .card-body p:first-child:before, 
	.servicios .ourwork-tab-wrap #collapse-A-2 .card-body li:first-child:before{
	  	background:url(/w/wp-content/uploads/2022/01/lip.png)no-repeat center;
	  	content: '';
		position: relative;
		border: none;
		top: -0.5em;
		left: 0em;
		display: block;
		background-size: auto;
		height: 1.75em;
		background-size: contain;
		transform: rotate(180deg);
	}*/
	.servicios .ourwork-tab-wrap .container2 h3 {
	  font-size: 16px;
	}
	.servicios .destacada strong {
	  font-family: Work Sans;
	  font-style: normal;
	  font-weight: 800;
	  font-size: 27px;
	  width: 100%;
	  margin: auto;
	  text-align: center;
	  line-height: normal;
	  display: block;
	}
    .servicios #nav-tab .nav-link {
      font-size: 11px;
      width: 30%;
      font-weight: bold;
      color:var(--amat-black);
    }
    .servicios #nav-tab .nav-link.active {
      font-size: 11px;
    }
/*==========================HEADER======================================*/
/* order search mbl*/
.collapse.navbar-collapse{
    display: flex;
    flex-direction: column;
}

.collapse.navbar-collapse .search-form{
    order:1;
}
.collapse.navbar-collapse .navbar-nav{
    /* order:2; */
}
#navbar .me-auto {
  margin-left: 0px !important;
    margin-right: auto !important;
}
#header .search-form {
  min-width: 80% !important;
}
header.page-header {
  box-shadow: none;
  margin-top: 5rem;
}
#navbar {
  padding-bottom: 5rem;
}/*end order search*/
#menu-item-wpml-ls-8-en, #menu-item-wpml-ls-8-es, #menu-item-wpml-ls-8-ca, header .login {
  display: block;
}
.navbar-light .navbar-toggler {
  border-color: transparent !important;
  color: transparent !important;
}
#menu-item-wpml-ls-13-en, #menu-item-wpml-ls-13-es, #menu-item-wpml-ls-13-ca, header .login, header .admin {
  display: block;
}
header .search-form.my-2 {
  margin-bottom: 1rem !important;
  margin-top: .5rem !important;
}
header #menu-item-wpml-ls-8-es {
  width: 50%;
}
#header #navbar {
    position: relative;
}
header .login a {
  border: 1px solid white;
  border-radius: 20px;
  width: 36%;
  padding: 10px 33px;
  text-align: center;
  position: absolute;
    right: 1rem;
    bottom: 3.3rem;
}
header .dropdown-menu {
  background-clip: padding-box;
  background-color: transparent;
  border: none;
  border-radius: .25rem;
  color: white;
  display: none;
}
header .dropdown-item {
  color: var(--amat-medium-gray);
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  text-decoration: none !important;
}
header .wpml-ls-display {
  color:var(--amat-medium-gray);
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
}
/* header .top-bar {
  display: none;
} */
header .admin {
  margin-bottom: 5rem;
}
header .login .nav-link {
  color: var(--amat-medium-gray) !important;
font-weight: 800 !important;
font-size: 16px !important;
}
header .dropdown-toggle::after{
   color: var(--amat-medium-gray) !important   
}
#navbar .nav-link {
  font-weight: 800 !important;
}
/*===================================TRABAJAR EN AMAT==================================*/
.trabajar-amat .banner img {
  margin-top: 3rem;
}
/*========================================GENERAL=======================================*/
#wrapper {
  max-width: 100%;
  overflow-x: hidden;
}





























}


/*========================================RESPONSIVE TABLET===========================================*/
@media (max-width: 810px) and (min-width: 501px) {
	/*===============HOME BLOCK==============*/
	.home-block #slider-3 .servicios {
	  padding: 5vh;
	}
	.home-block .servicios-2{
	  margin:auto;
	}
	/*===============PRE FOOTER==============*/
	.pre-footer p.mas {
	font-size: 20px;
	}
	.pre-footer .num {
	font-size: 20px;
	}
	.pre-footer .contador p {
	font-size: 13px;
	}
	.pre-footer .num-fondo {
	font-size: 68px;
	}
}
	#headingTwo, #headingOne, #headingFour {
    scroll-margin-top: 120px;
}













}


